#top{
  text-align: center;
  background-color: rebeccapurple;
  height: 80px;
  color: darkorange;
  padding-top: 20px;
}

h2{
  font-weight: bold;
}

#post{
  font-size: 30px;
  color: #007bff;
  cursor: pointer;
}

#padding{
  padding: 10px;
}

a:link{
  text-decoration: none;

}

