#top{
  text-align: center;
  background-color: rebeccapurple;
  height: 80px;
  color: darkorange;
  padding-top: 20px;
}

h2{
  font-weight: bold;
}

#post_size{
  font-size: 40px;
}

#padding{
  padding: 10px;
}
