

<div id="top">
  <h2>Posts</h2>
</div><br>

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
  <button type="button" class="btn btn-primary" (click)="form()"><i class="far fa-clipboard"></i>&nbsp;<b>Add Post</b></button><br><br>
  </div>
  </div>
  <!--adding a post-->

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3" >
  <div *ngIf="flag">
  <form [formGroup]="complexForm" (ngSubmit)="submit(complexForm.value)">
    <div class="form-group">
      <input type="text" formControlName="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.text.errors }" placeholder="Enter Post"/>
      <div *ngIf="submitted && !!f.text.errors" class="invalid-feedback">
        <div *ngIf="!!f.text.errors.required">Text is required</div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" formControlName="postedBy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postedBy.errors }" placeholder="User"/>
      <div *ngIf="submitted && !!f.postedBy.errors" class="invalid-feedback">
        <div *ngIf="!!f.postedBy.errors.required">User is required</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  </div>
  </div>
  <div class="col-md-5"></div>
</div>

<!--posts-->
  <div class="col-md-4"></div>
  <div>
  <div *ngFor="let post of postings | paginate: { itemsPerPage: 3, currentPage: p }"><hr>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10"><b>{{post.postedBy}}</b>
        <div class="row"></div>
        <a [routerLink]="['/comments-likes', post.id]"><div id="post_size">{{post.text}}</div></a>
    </div>
    </div>
  </div><br>

    <div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
<!------------------------------------------------------------------------------>

