
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3"><h3>Posts</h3></div>
      <div class="col-md-2">
        <div></div>
      </div>
      <div class="col-md-2">
        <div><button type="button" class="btn " (click)="display_form()"><i class="far fa-clipboard"></i>&nbsp;<b>Add Post</b></button></div>
      </div>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <br><div id="filter"><b>Filters</b></div>
      <div><input type="search" aria-label="Search" [(ngModel)]="userFilter.text" placeholder="search by post"></div><br>
      <div><input type="search" aria-label="Search" [(ngModel)]="userFilter.postedBy" placeholder="search by user"></div><br>
      <div><input type="search" aria-label="Search" [(ngModel)]="userFilter.createdAt" placeholder="search by date(Y-M-D)"></div><br>
      <div><input type="search" aria-label="Search" [(ngModel)]="userFilter.title" placeholder="search title"></div>
    </div>

    <div class="col-md-10">
  <!--adding a post-->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3" >
   <div *ngIf="flag"><br>
   <form [formGroup]="complexForm" (ngSubmit)="submit(complexForm.value)">

    <div class="form-group">
      <input type="text" formControlName="postedBy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postedBy.errors }" placeholder="User"/>
      <div *ngIf="submitted && !!f.postedBy.errors" class="invalid-feedback">
        <div *ngIf="!!f.postedBy.errors.required">User is required</div>
      </div>
    </div>

     <div class="form-group">
       <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" placeholder="Title"/>
       <div *ngIf="submitted && !!f.title.errors" class="invalid-feedback">
         <div *ngIf="!!f.title.errors.required">title is required</div>
       </div>
     </div>

     <div class="form-group">
       <textarea formControlName="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.text.errors }" placeholder="Enter Post"></textarea>
       <div *ngIf="submitted && !!f.text.errors" class="invalid-feedback">
         <div *ngIf="!!f.text.errors.required">post is required</div>
       </div>
     </div>

    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  </div>
  </div>
  <div class="col-md-5"></div>
</div>

<!--posts-->
  <div class="col-md-4"></div>
  <div *ngIf="postings">
  <div *ngFor="let post of postings | filterBy: userFilter | paginate: {itemsPerPage: itemsPPage, currentPage: pageno, totalItems:total}"><hr>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10"><b>{{post.postedBy}}</b>
<!--
        <a [routerLink]="['/comments-likes', post.id]"><div id="post_size">{{post.text}}</div></a>
-->
        <div><span id="post" (click)="navigate(post.id)">{{post.title}}</span></div>
    </div>
    </div>
  </div><br>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
      <div id="message" *ngIf="(postings | filterBy: userFilter).length === 0">No matching post found</div><br>
       <div><pagination-controls (pageChange)="getPagination($event)"></pagination-controls></div>
      </div>
    </div>
    </div>
</div>
</div>
</div>

