#post_name{
  padding-top: 20px;
}

#c_head{
  background-color: cadetblue;
}
input{
  width: 100%;
}
#spann{
  padding-left: 110px;
}

#post_size{
  font-size: 40px;
  color: rebeccapurple;
}

strong{
  color: azure;
}

#date_color{
  color: gray;

}
